
.head{
    display: flex;
    gap: 900px;
    background-color: #ffffff;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
  .head ul{
    display: flex;
    gap: 40px;
    padding: 15px;
    
  }

.head ul li{
    list-style: none;
    
}
.cart-count{
  color: #ffffff;
  background-color: red;
  padding: 0 5px;
  box-shadow: 0 0 6px 3px rgb(238, 237, 237);
  border-radius: 50%;

}