.footer{
    display: flex;
    background-color: rgb(244, 252, 250);
}

.content{
    padding: 70px;
}
.content ul{
    display: flex;
    gap: 70px;
    list-style: none;
}
.content p{
    padding: 5px;
}
.map{
    padding: 50px;
    height: '400px';
    width: '100%' ;
}

.footer-skeleton {
    width: 97%;
    height: 370px;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    background-color: #f4f4f4;
    text-align: center;
  }